/* style_login.css */

body {
    color: #fff;
    background: url("colorful-wallpaper-background-multicolored-generative-ai.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }



  .container {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
  .cont_admin {
    width: 80% !important; /* Use !important to override any conflicting styles */
    max-width: 100%;
    margin: 0 auto; /* Center the container horizontally */
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
  
  form {
    display : flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #fff; /* Add this line to set label color */
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: #000; /* Add this line to set input text color */
  }
  
  input[type="submit"] {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  
a {
    color: #fff;
    text-decoration: none;
}
